nav.navbar.navbar-expand-lg.navbar-light.bg-light.mx-auto.col-10.px-4.border.border-top-0.mb-3
        a.navbar-brand.text-dark(href="/p/1") Shop
        div.collapse.navbar-collapse#navbarSupportedContent
        a.btn.btn-secondary.me-2(href="/cart")
            i.fa.fa-shopping-cart   
        button.btn.btn-secondary.me-2#darkMode
            i.fa.fa-moon-o
        form.d-flex
            input.form-control.me-2(type="search" placeholder="Search" aria-label="Search" name="query")
            input.btn.btn-outline-secondary(type="submit" value="Search")